<!DOCTYPE html>

<html>
    <head>
        <title>404</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
        <body>
            <div>
                {{>header}}
                <p>{{errorMessage}}</p>
            </div>

            {{>footer}}
        </body>
    </head>
</html>