<!DOCTYPE html>

<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather.png">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="/css/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
        <body>
            <div class="main-content">
                {{>header}}
            <div class="help-text-box">
                <p class="help-text">{{helpTextMessage}}</p>
            </div>
            </div>
            <div>
               {{>footer}}
            </div>
        </body>
    </head>
</html>