body {
    font-family: 'Work Sans', sans-serif;
    max-width: 100%;
    margin: auto;
    background-image: url(../img/background.jpeg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    padding: 10px;
    color: white;
    letter-spacing: 3px;
    margin-bottom: 50px;
}

.main-title {
    text-align: center;
    font-size: 65px;
}

.navbar {
    font-size: 20px;
    text-align: center;
}

.navbar a {
    text-decoration: none;
    cursor: pointer;
    color: white;
    margin: 25px;
}

.form {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 90px;
}

input {
    border: 1px solid lightblue;
    padding: 8px;
    width: 25%;
    border-radius: 5px;
    margin: 10px;
}

button {
    border: 1px solid lightblue;
    padding: 8px;
    color: black;
    cursor: pointer;
    width: 10%;
    border-radius: 5px;
    margin: 10px;
}

.content {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
}

#message-one {
    color: white;
    font-size: 15px;
}

#message-two {
    color: white;
    font-size: 12.5px;
}

.profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    width: 200px;
    border-radius: 130px;
}

.about-text-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-text {
    color: white;
    width: 50%;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 50px;
    font-size: 15px;
    text-align: center;
    border: 2.5px solid white;
    padding: 30px;
    border-radius: 5px;
}

.help-text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

.help-text {
    color: white;
    width: 50%;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 50px;
    font-size: 15px;
    text-align: center;
    border: 2.5px solid white;
    padding: 30px;
    border-radius: 5px;
}

footer {
    background-color: black;
    padding: 10px;
    color: white;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    position: fixed;
    bottom: 0;
}

@media (max-width: 780px) {
    body {
        height: 100vh;
    } .form {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        margin-top: 90px;
    } input {
        border: 1px solid lightblue;
        padding: 8px;
        width: 60%;
        border-radius: 5px;
        margin: 10px;
        font-size: 25px;
    } button {
        border: 1px solid lightblue;
        padding: 8px;
        color: black;
        cursor: pointer;
        width: 20%;
        border-radius: 5px;
        margin: 10px;
        font-size: 25px;
    }
}

@media (max-width: 600px) {
    body {
        height: 150vh;
    } .main-title {
        font-size: 50px;
    } .navbar {
        display: flex;
        justify-content: center;
        font-size: 20px;
    } .form {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        margin-top: 30px;
        height: 60px;
    } input {
        border: 1px solid lightblue;
        padding: 8px;
        width: 55%;
        border-radius: 5px;
        margin: 10px;
        font-size: 15px;
    } button {
        border: 1px solid lightblue;
        padding: 8px;
        color: black;
        cursor: pointer;
        width: 20%;
        border-radius: 5px;
        margin: 10px;
        font-size: 15px;
    } .content {
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 50px;
    } .profile-pic {
        display: flex;
        justify-content: center;
        align-items: center;
    } .profile {
        width: 200px;
        border-radius: 130px;
    } .about-text-box {
        display: flex;
        justify-content: center;
        align-items: center;
    } .about-text {
        color: white;
        width: 50%;
        text-decoration: none;
        cursor: pointer;
        margin-bottom: 50px;
        font-size: 15px;
        text-align: center;
        border: 2.5px solid white;
        padding: 30px;
        border-radius: 5px;
    } .help-text-box {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 90px;
    } .help-text {
        color: white;
        width: 50%;
        text-decoration: none;
        cursor: pointer;
        margin-bottom: 50px;
        font-size: 15px;
        text-align: center;
        border: 2.5px solid white;
        padding: 30px;
        border-radius: 5px;
    }
}

